---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>🧑‍🚀 Hello, Everybody!</h1>
			<p>
				My name is Amine Serrar. I am an ERASMUS student for this fall semester in RIGA. 
			</p>

			<p>
				I am studying cybersecurity and applied mathematics at ESILV (Ecole Supérieure d'Ingénieur Léonard de Vinci) in Paris. 
			</p>
					
			<p>
				I am passionate about networking and development at the moment, so on this blog, you will find updates on this semester's progress in Digital Switching Systems as well as my own advancements in some of the mentioned areas. 
			</p>
			
			<p>
				If you need to contact me: amine.serrar@edu.rtu.lv
			</p>
		</main>
		<Footer />
	</body>
</html>
